commands:
  01_installDependencies:
    command: |
      #!/bin/bash
      chmod +x .platform/hooks/postdeploy/02-composer_and_permission.sh
      touch /var/www/html/igor.txt
      echo "teste composer" > /var/log/composer.log
      cd /var/www/html/
      composer install --no-interaction >> /var/log/composer.log
      php artisan migrate --seed >> /var/log/migrate.log
      php artisan clear-compiled
      php artisan config:cache
      php artisan cache:clear
      php artisan route:cache
      php artisan view:clear
