option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_NAME: '`{"Ref": "APP_NAME"}`'
    APP_ENV: '`{"Ref": "APP_ENV"}`'
    APP_KEY: '`{"Ref": "APP_KEY"}`'
    APP_DEBUG: '`{"Ref": "APP_DEBUG"}`'
    APP_URL: '`{"Ref": "APP_URL"}`'
    LOG_CHANNEL: '`{"Ref": "LOG_CHANNEL"}`'
    LOG_DEPRECATIONS_CHANNEL: '`{"Ref": "LOG_DEPRECATIONS_CHANNEL"}`'
    LOG_LEVEL: '`{"Ref": "LOG_LEVEL"}`'
    DB_CONNECTION: '`{"Ref": "DB_CONNECTION"}`'
    DB_HOST: '`{"Ref": "DB_HOST"}`'
    DB_PORT: '`{"Ref": "DB_PORT"}`'
    DB_DATABASE: '`{"Ref": "DB_DATABASE"}`'
    DB_USERNAME: '`{"Ref": "DB_USERNAME"}`'
    DB_PASSWORD: '`{"Ref": "DB_PASSWORD"}`'
    BROADCAST_DRIVER: '`{"Ref": "BROADCAST_DRIVER"}`'
    CACHE_DRIVER: '`{"Ref": "CACHE_DRIVER"}`'
    FILESYSTEM_DISK: '`{"Ref": "FILESYSTEM_DISK"}`'
    QUEUE_CONNECTION: '`{"Ref": "QUEUE_CONNECTION"}`'
    SESSION_DRIVER: '`{"Ref": "SESSION_DRIVER"}`'
    SESSION_LIFETIME: '`{"Ref": "SESSION_LIFETIME"}`'
    MEMCACHED_HOST: '`{"Ref": "MEMCACHED_HOST"}`'
    REDIS_HOST: '`{"Ref": "REDIS_HOST"}`'
    REDIS_PASSWORD: '`{"Ref": "REDIS_PASSWORD"}`'
    REDIS_PORT: '`{"Ref": "REDIS_PORT"}`'
    MAIL_MAILER: '`{"Ref": "MAIL_MAILER"}`'
    MAIL_HOST: '`{"Ref": "MAIL_HOST"}`'
    MAIL_PORT: '`{"Ref": "MAIL_PORT"}`'
    MAIL_USERNAME: '`{"Ref": "MAIL_USERNAME"}`'
    MAIL_PASSWORD: '`{"Ref": "MAIL_PASSWORD"}`'
    MAIL_ENCRYPTION: '`{"Ref": "MAIL_ENCRYPTION"}`'
    MAIL_FROM_ADDRESS: '`{"Ref": "MAIL_FROM_ADDRESS"}`'
    MAIL_FROM_NAME: '`{"Ref": "MAIL_FROM_NAME"}`'
    AWS_ACCESS_KEY_ID: '`{"Ref": "AWS_ACCESS_KEY_ID"}`'
    AWS_SECRET_ACCESS_KEY: '`{"Ref": "AWS_SECRET_ACCESS_KEY"}`'
    AWS_DEFAULT_REGION: '`{"Ref": "AWS_DEFAULT_REGION"}`'
    AWS_BUCKET: '`{"Ref": "AWS_BUCKET"}`'
    AWS_USE_PATH_STYLE_ENDPOINT: '`{"Ref": "AWS_USE_PATH_STYLE_ENDPOINT"}`'
    PUSHER_APP_ID: '`{"Ref": "PUSHER_APP_ID"}`'
    PUSHER_APP_KEY: '`{"Ref": "PUSHER_APP_KEY"}`'
    PUSHER_APP_SECRET: '`{"Ref": "PUSHER_APP_SECRET"}`'
    PUSHER_HOST: '`{"Ref": "PUSHER_HOST"}`'
    PUSHER_PORT: '`{"Ref": "PUSHER_PORT"}`'
    PUSHER_SCHEME: '`{"Ref": "PUSHER_SCHEME"}`'
    PUSHER_APP_CLUSTER: '`{"Ref": "PUSHER_APP_CLUSTER"}`'
    VITE_PUSHER_APP_KEY: '`{"Ref": "VITE_PUSHER_APP_KEY"}`'
    VITE_PUSHER_HOST: '`{"Ref": "VITE_PUSHER_HOST"}`'
    VITE_PUSHER_PORT: '`{"Ref": "VITE_PUSHER_PORT"}`'
    VITE_PUSHER_SCHEME: '`{"Ref": "VITE_PUSHER_SCHEME"}`'
    VITE_PUSHER_APP_CLUSTER: '`{"Ref": "VITE_PUSHER_APP_CLUSTER"}`'
    DO_ACCESS_KEY_ID: '`{"Ref": "DO_ACCESS_KEY_ID"}`'
    DO_SECRET_ACCESS_KEY: '`{"Ref": "DO_SECRET_ACCESS_KEY"}`'
    DO_DEFAULT_REGION: '`{"Ref": "DO_DEFAULT_REGION"}`'
    DO_BUCKET: '`{"Ref": "DO_BUCKET"}`'
    DO_FOLDER: '`{"Ref": "DO_FOLDER"}`'
    DO_CDN_ENDPOINT: '`{"Ref": "DO_CDN_ENDPOINT"}`'
    DO_ENDPOINT: '`{"Ref": "DO_ENDPOINT"}`'
    DO_USE_PATH_STYLE_ENDPOINT: '`{"Ref": "DO_USE_PATH_STYLE_ENDPOINT"}`'