.text-outline {
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    1px 1px 0 #fff,
    -1px 1px 0 #fff;
}

.text-shadow {
  text-shadow: 1px 1px 14px #000;
}

html {
  scroll-behavior: smooth;
}
