@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #003317;
  letter-spacing: -0.07em;
}

body {
  background: var(--foreground-rgb);
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
